.btn {
  display: inline-block;
  min-width: 130px;
  border-radius: 4px;
  color: $text-color-darken;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  font-weight: 500;
  padding: 11px 14px;
  background-color: $gray-4;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 8px rgba($black, 0.1);

  &:hover {
    opacity: 0.9;
    box-shadow: 0px 3px 8px rgba($black, 0.3);
    transition: all 0.3s ease;
  }

  &.dark-btn {
    background-color: $gray-1;
    color: $white;
  }
}
