* {
  @media (min-width: $breakpoint-xl) {
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $gray-1;
    }
  }
}
