html * {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 0;
}

body {
  min-width: 320px;
  font-weight: 400;
  font-family: $font-main;
  color: $black;
  font-size: 14px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 10px;
}

img {
  max-width: 100%;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

input {
  border: 0;
  outline: 0;

  &[type="text"],
  &[type="password"],
  &[type="email"],
  &[type="search"] {
    -webkit-appearance: none;
  }
}

button {
  border: 0;
  outline: 0;
  padding: 0;
  background-color: unset;
  cursor: pointer;
}

textarea {
  resize: vertical;
  -webkit-appearance: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 768px;

  @media (min-width: $breakpoint-lg) {
    max-width: 1270px;
  }
}

.ml-a {
  margin-left: auto;
}

.mr-a {
  margin-right: auto;
}

.todo {
  max-width: 500px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 20px;

  &__top {
    display: flex;
  }

  &__toggle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__input {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    line-height: 30px;
    background-color: transparent;
    border-radius: 0 20px 0 0;

    &.error {
      box-shadow: 0px 0px 10px 0px rgba(255, 0, 0, 0.2) inset;
    }

    &-box {
      width: calc(100% - 40px);
    }
  }

  &__footer {
    border-top: 1px solid rgba($gray, 0.5);
  }
}

.todo-list {
  padding: 5px 0;
  border-top: 1px solid rgba($gray, 0.5);

  &__item {
    display: flex;
    margin-bottom: 3px;

    &:hover {
      .todo-list__button {
        opacity: 1;
        visibility: visible;
      }
    }

    &.is-checked {
      .todo-list__text {
        opacity: 0.2;
        text-decoration: line-through;
      }
    }
  }

  &__checkbox {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__view {
    width: calc(100% - 80px);
    padding: 0 10px;
    flex-grow: 1;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    padding: 5px 0;

    &.hidden {
      display: none;
    }
  }

  &__input {
    border: 1px solid rgba($gray, 0.5);
    width: 100%;
    font-size: 20px;
    padding: 5px 10px;
    line-height: 30px;
    background-color: transparent;

    &:focus,
    &:hover {
      border-color: $gray;
    }

    &.hidden {
      display: none;
    }
  }

  &__button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba($gray, 0.5);
    opacity: 0;
    visibility: hidden;

    i {
      pointer-events: none;
    }

    &:hover {
      color: $gray;
    }
  }
}

.checkbox {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #929292;
  }

  .hidden {
    display: none;
  }

  input {
    &:checked + .checkbox-btn {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $gray;

    &:before {
      content: "\e901";
      font-family: "icomoon";
      font-size: 14px;
      opacity: 0;
      visibility: hidden;
    }
  }
}

.radio {
  display: block;
  cursor: pointer;
  transition: all 0.3s ease;

  .hidden {
    display: none;
  }

  input {
    &:checked + .radio-text {
      border-color: $gray;
    }
  }

  &-text {
    display: inline-block;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid transparent;

    &:hover {
      border-color: rgba($gray, 0.5);
    }
  }
}

.todo__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  display: none;

  &.active {
    display: block;
  }
}

.todo-count {
  padding: 3px 0;
  width: 100px;
}

.todo-filter,
.todo-sort {
  display: flex;
  margin: 0 -5px;

  > li {
    padding: 0 5px;
  }
}

.todo-clear {
  border-bottom: 1px solid transparent;

  &:hover {
    border-color: $gray;
  }
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
